@model PartyInvities.Models.RentalProperty

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
    Html.EnableClientValidation(false);
}
<style type="text/css">
    td { white-space: nowrap; }
</style>
<h2>Edit</h2>

@using (Html.BeginForm("/Rental/Edit"))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>RentalProperty</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <table>
            <tr>
                <td>@Html.LabelFor(m => m.Name):&nbsp;</td>
                <td>@Html.TextBox("ModelNameTextBox", @Model.Name)</td>
                <td>@Html.TextBoxFor(m => m.Name)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.ShortDescription):&nbsp;</td>
                <td>@Html.TextBox("ModelNameTextBox", @Model.ShortDescription, new Dictionary<string, object> { { "size", "60" } })&nbsp;</td>
                <td>@Html.TextBoxFor(m => m.ShortDescription, new Dictionary<string, object> { { "size", "60" } })</td>
            </tr>
            <tr>
                <td style="vertical-align: top;">@Html.Label("TextArea"):&nbsp;</td>
                <td>@Html.TextArea("ModelNameTextBox", @Model.ShortDescription, 4, 35, null)</td>
                <td>@Html.TextAreaFor(m => m.ShortDescription, 4, 35, null)</td>
            </tr>
            <tr>
                <td colspan="3" style="text-align: center;  ">Templated Helpers</td>
            </tr>
            <tr>
                <td>@Html.Label("Building Type"):&nbsp;</td>
                <td>@Html.Editor("Building")</td>
                <td>@Html.EditorFor(m => m.Building)</td>
            </tr>
            <tr>
                <td>@Html.Label("Street Address"):&nbsp;</td>
                <td>@Html.Editor("Address.StreetNumberAndName")</td>
                <td>@Html.EditorFor(m => m.Address.StreetNumberAndName)</td>
            </tr>
        </table>
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Save", "Edit", @Model, new { @class="btn btn-default" } )
                <input type="submit" value="Save Old" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
