@model PartyInvities.Models.RentalProperty

@{
    ViewBag.Title = "ListByID";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<style type="text/css">
    h4 > label { width: inherit; }
    .display-label, .display-field { float: left; margin-top: 0px; }
    .display-field input { height: 16px; }
    .display-label { clear: left; width: 110px; font-weight: bold; }
    .display-field { margin-left: 10px;  }
    .link-section { clear: left; }
</style>

<h2>ListByID</h2>

<div>
    <h4>RentalProperty</h4>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShortDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YearBuilt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearBuilt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MonthlyHOAFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonthlyHOAFee)
        </dd>

    </dl>
</div>
<div style="padding-left: 40px;">
    <div>
        <p>
            <h5>This is a Whole-Model Templated Helper</h5>
            @Html.DisplayForModel()
        </p>
    </div>
    <div class="link-section">
        <hr />
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</div>